:root {
    --background: #090824;
    --background-50: rgba(0, 0, 0, 0.5);
    --section-background: #1E1552;
    --primary: #F33561;
    --secondary: #6B1D22;
    --tertiary: #784ba0;
    --text: #F4F4FF;

    /* Fonts */
    --font-heading: 'Bebas Neue', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --h1: 62px;
    --h2: 48px;
    --subheading: 36px;
    --body: 16px;
}

a,
p,
h1,
h2,
h3,
h4 {
    color: var(--text);
}


p {
    font-family: var(--font-body);
    font-size: var(--body);
}

a {
    font-family: var(--font-body);
    font-size: var(--body);
    font-weight: bold;
}


h1 {
    font-family: var(--font-heading);
    font-size: var(--h1);
    margin: 0;

}

h2 {
    font-family: var(--font-heading);
    font-size: var(--h2);
    margin: 0;
}

h3 {
    font-family: var(--font-body);
    font-size: var(--subheading);
    margin: 0;
}

html,
body {
    background-color: var(--background);
    height: 100%;
    margin: 0;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding-bottom: 70px;
}